/* lato-300 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url('/css/lato/lato-v23-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('/css/lato/lato-v23-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/css/lato/lato-v23-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('/css/lato/lato-v23-latin-300.woff') format('woff'), /* Modern Browsers */
	url('/css/lato/lato-v23-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/css/lato/lato-v23-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300italic - latin */
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 300;
	src: url('/css/lato/lato-v23-latin-300italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('/css/lato/lato-v23-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/css/lato/lato-v23-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('/css/lato/lato-v23-latin-300italic.woff') format('woff'), /* Modern Browsers */
	url('/css/lato/lato-v23-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/css/lato/lato-v23-latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('/css/lato/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('/css/lato/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/css/lato/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('/css/lato/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('/css/lato/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/css/lato/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: url('/css/lato/lato-v23-latin-italic.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('/css/lato/lato-v23-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/css/lato/lato-v23-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('/css/lato/lato-v23-latin-italic.woff') format('woff'), /* Modern Browsers */
	url('/css/lato/lato-v23-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/css/lato/lato-v23-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('/css/lato/lato-v23-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('/css/lato/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/css/lato/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('/css/lato/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
	url('/css/lato/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('/css/lato/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}


/*
	Z-INDEXES :



*/

:root{
	--background-color: #333;
}

h1{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;} 
h2{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;} 
button{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;} 
span{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;} 
	
.hidden {
	opacity: 0;
    visibility: hidden;
	transition: opacity 0.5s, visibility 0s linear 1s;
}

.nodisplay{display:none!important;}


/* LOADING SCREEN */
#loading {
	background-image: radial-gradient(circle farthest-corner at center, #4a4a4a 0%, #3b3b3b 100%);
}

.loading {
	position: absolute;
    margin: auto;
    top: -10%;
    right: 0;
    bottom: 0;
    left: 0;
    height: 260px;
    padding-top: 40px;
    color: #eaeaea;
    width: 90%;
    background-color: var(--background-color);
    border: 1px solid #2d2d2d;
    border-radius: 6px;
    box-shadow: 1px 1px 9px 0 rgba(26, 26, 26, 0.7);
}

#loading-text{
	margin-top: 6px;
}





/* MENU */


.escmenu {
	display: flex;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 20px;
    z-index: 100;
}

.esc-icon{
	margin: 4px 8px 0 0;
	color: #818181bc; 
}
.esc-icon:hover{
	color: #afafafce; 
}

.screen-menu {
	visibility: hidden;
	position: absolute;
    left: -100%;
    background: #24247099;
	transition: all 0.5s ease;
	z-index: 90;
}



.main-menu {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
}
 
.main-menu-nav{
	padding: 0px;
}
  
.main-menu-nav li {
	margin-top: -1px;
	list-style-type: none;
}


.menu-btn {
	display: block;
    font-size: 3em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

.menu-btn:hover {
	color: #b1cfff;
	background-color: rgba(162, 214, 255, 0.4);
	box-shadow: 0 0 4px rgb(162, 214, 255);
	text-decoration: none;
}



.options-menu{
	display: none;
	color: #b1cfff;
}

.options-header{
	color: #fff;
}

.options-header h2{
	cursor: pointer;
    padding: 8px 0px 10px 0px;
    border-bottom: 1px solid #ccdcff;
}

.options-header h2:hover {
	color: #b1cfff;
	background-color: rgba(162, 214, 255, 0.4);
	box-shadow: 0 0 4px rgb(162, 214, 255);
	text-decoration: none;
}

.options-menu i{
	position: absolute;
    margin: 0;
    top: 11px;
    left: 12px;
}






html {
	width: auto;
	height: 100vh;
	width: 100vw;
}

h1,
h2 { padding: 0.03em; font-size: 2.5rem; }
h3 { padding: 0.03em; }

body {	
	font-family: 'Lato', 'Open Sans', sans-serif;
	height: 100vh;
	width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
	font-size: 1rem;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-color: var(--background-color);
	margin: 0px;
}





.screen{
	height: 100vh;
	max-height: 100vh;
	max-width: 100vw;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100vw;
}

 
 




.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  }

#background {
	height:100%;
	width: 100%;

    background-position-x: center;
    background-position-y: center;
    background-size: cover;
	background-repeat: no-repeat;

	z-index: 1;
	/*transition: opacity 0.5s;*/
	transition: background-image 1s ease-out;
}

#background-color{
	position: absolute;
    width:100%;
	height:100%;
	transition: opacity 0.5s;
	z-index: 1;
}

#options{
	z-index: 20;
}



/* DIALOG */
#dialog
{
	display: block;
	cursor: hand;
	min-height: 20vh;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5); 
    overflow-y: auto;
    width: 100%;
    z-index: 10;
    text-align: left;
    position: absolute;
	color: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0 / 50%) 0px -4px 4px 0px;

}

#dialog:hover{
	background-color: rgba(0, 0, 0, 0.55);
	box-shadow: rgb(0 0 0 / 60%) 0px -4px 4px 0px;
}

.choises-off{visibility:hidden!important;}
.dialog-off{visibility:hidden!important;}
.dialog-choise-state{visibility:hidden!important;}

#dialog-name{
	display: block;
	width: 100%;
    margin: 0;
	color:rgb(0, 191, 255);
	font-size: 2.5rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.dialog-header { padding: 1vh 6vw 0vh 6vw; }
.dialog-text { padding: 0.6em 6vw 4vh 6vw; }
.dialog-text-hide{ padding: 0 6vw 0vh 0vw; }

.dialog-text>span {
	display: block;
    margin: 0;
	font-size: 2rem;
	word-wrap: break-word;
}

.dialog-text-hide {
	position: absolute;
	visibility: hidden
}




/* DIALOG SLIM */
.dialog-slim {
	min-height: unset!important;
	background-color: unset!important;
	box-shadow: unset!important;
}
.dialog-slim:hover {
	background-color:  unset!important;
	box-shadow:  unset!important;
}

.dialog-slim .dialog-text {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: rgb(0 0 0 / 50%) 0px -4px 4px 0px;
}

.dialog-slim .dialog-text:hover {
	background-color: rgba(0, 0, 0, 0.55);
	box-shadow: rgb(0 0 0 / 60%) 0px -4px 4px 0px;
}
.dialog-slim .dialog-header{ padding: 1vh 6vw 0.6em 6vw;}
.dialog-slim * #dialog-name{ text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;}






@keyframes blink { 50% { opacity: 1; } 100% { opacity: 0; } }
.blink {animation: blink 0.4s steps(1, start) infinite alternate;}


/* MENU OPTIONS */

.options-body {
	display: flex;
	flex-direction:column;
	align-items: center;
    justify-content: center;
}

.option-group {
	margin-top: 40px;
	width:500px;
	max-width: 90vw;
}

.option-item {
	margin: 10px 0 10px 0;
}








/* CHOICES */
#choices{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: absolute;
    z-index: 10;
	background-color: #3a3a3a9e;

}

#choices div{
	display: flex;
    align-items: center;
	justify-content: center;
	flex-direction: column;
}


.chbox-item {
	display: block;
	cursor: pointer;
	font-size: 1.4em;
	border: none;
	width: auto;
	min-width: 300px;
	padding: 6px 50px;
	margin: 0.5em;
	border-radius: 0.5em;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	color: #ccc;
	background: #84848470;
	box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 16%), 0px 2px 5px 0px rgb(0 0 0 / 23%);
	text-shadow: 1px 1px 1px #0c0c0c;
}

.chbox-item:hover {
	background: #8a8a8aab;
}


.obvod{
	font-size:30px;
	color:#E2A126!important;
	text-shadow: 1px 0 1px #000, 
	0 1px 1px #000, 
	-1px 0 1px #000, 
	0 -1px 1px #000;
}




.btn-primary{
	color: #fff;
	padding: 6px 35px;
	font-size: 1.2em;
	background-color: #bd6aff!important;
	border-color: #390066!important;
	border-radius: 0.25rem;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: #a53ef7  !important;
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
	background-color: #a53ef7!important;
	box-shadow: 0 0 0 0.25rem #a53ef780!important;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
	box-shadow: 0 0 0 0.25rem #a53ef780!important;
}
