@charset "UTF-8";


:root
{


}





html, body{
    height: 100%;
}


body
{
    /*
    font-family: 'Roboto', sans-serif;
*/
    color:  #3b006a;
    background-color: #fbf6ff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.template{
    display: flex;
    justify-content: normal;
}


/* NAVBAR */

.navbar{
    font-size: 1em;
    width: 100%;
    padding: 0px 140px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 4%);
    background-color: #ffffff;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.navbar-collapse {
    justify-content: end;
}

.navbar-pages{
    order:10;
    white-space:nowrap;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .navbar {padding: 0px;}
    .navbar-pages {order: 0;}
    .navbar-pages.active>.nav-active{display:none;}
}

.nav-link {
    padding: 8px 14px;
    text-transform: uppercase;
    color: #2d004a;
}

.nav-link:hover {
    background: #fbf5ff;
    cursor: pointer;
    color: #2d004a!important;
}

.nav-item:hover .nav-active{
    visibility:visible!important;
}

.nav-active {
    display: block;
    visibility: hidden;
    border-bottom: 4px solid #edd2ff;
    margin-top: -4px;
}

.active .nav-active{
    visibility:visible!important;
}





/*          LOGOTYPE            */
.logotype{
    display:block;
}
.logotype img{
    width:auto;
    height:36px;
}
.logotype-mini{
    display: inline-block;
    padding: 6px 12px;
    display:none;
}
.logotype-mini img{
    width:auto;
    height:30px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .logotype { display: none;}
    .logotype-mini {display: inline-block;}
}
@media (min-width: 992px) {
    .logotype{margin: 0px 20px;}
}






.title{
    font-size: 2em;
    color: #818181;
    width: 100%;
    text-align: center;
    padding: 46px 4px;
}




.btn-primary{
    padding: 6px 35px;
    font-size: 1.2em;
    background-color: #bd6aff!important;
    border-color: #390066!important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #a53ef7  !important;
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
    background-color: #a53ef7!important;
    box-shadow: 0 0 0 0.25rem #a53ef780!important;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0 0.25rem #a53ef780!important;
}